.DS_Store
node_modules/
*project.config.json*
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
miniprogram_npm
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
